# Copia este archivo como .env.local
# No coloques aquí la SUPABASE_SECRET_KEY.

VITE_SUPABASE_URL=https://lkxovjawwqnwuvqeronv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=PEGAR_AQUI_TU_SUPABASE_PUBLISHABLE_KEY
